nav{
    background-color: darkcyan;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}
.logo{
    color: white;
    font-family: monospace;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    margin-left: 36px;
}